/* ==========================================================================
    GENERAL
========================================================================== */
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    background-color: rgb(3, 131, 140);
  }

  @font-face {
    font-family: "Windows Regular";
    src: url("../font/Windows.ttf") format("truetype"),
           
   }


/* ==========================================================================
    BARRE DE CHARGEMENT
========================================================================== */


#Progress_Status {
    margin-top: 300px;
    margin-left: 360px;
    width: 50%;
    background-color: #ddd;
    
  }

  .click{
    height: 10vh;
    width: 10%;
    margin-top: 100px;
    margin-left: 45%;
    box-shadow: 3px 5px rgb(84, 83, 83);
    font-family: "Windows Regular"; 
    font-size: 50px;
  }
    
  #myprogressBar {
    width: 0%;
    height: 20px;
    background-color: #20b08c;
  }