/* ==========================================================================
    GENERAL
========================================================================== */
@import url(../css-scss/composants/modal-me.css);
@import url(../css-scss/composants/modal-skills.css);
@import url(../css-scss/composants/modal-hobbies.css);
@import url(../css-scss/composants/modal-contacts.css);
* {
  box-sizing: border-box;
  font-family: "Windows Regular";
}

body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  background-color: rgb(3, 131, 140);
}

@font-face {
  font-family: "Windows Regular";
  src: url("../font/Windows.ttf") format("truetype");
}
div {
  text-align: center;
}

.desktop {
  height: 100vh;
  background-position: center;
  background-size: cover;
}

section {
  padding-top: 150px;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10%;
  grid-template-rows: 10vh 10vh 10vh 10vh 10vh;
}

.button {
  cursor: pointer;
  border: 0px;
  background: transparent;
  position: relative;
  transition: all 0.2s;
  overflow: hidden;
  border-radius: 2px;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

.button:hover {
  background-color: rgba(8, 8, 162, 0.586);
  color: aliceblue;
  border: dashed 5px rgba(194, 179, 179, 0.732);
}

.button::after {
  content: "";
  position: absolute;
  top: -50px;
  left: -100px;
  z-index: -1;
  transition: all 0.5s;
  box-shadow: inset -10px -10px 25px 0px rgba(129, 118, 143, 0.25), -10px 10px 25px 0prgba 103, 120, 125, 0.25 5;
}

/* ==========================================================================
    ICONS
========================================================================== */
div:nth-of-type(1) {
  grid-row: 1/2;
  grid-row: 1/2;
}

div:nth-of-type(2) {
  grid-column: 5/6;
  grid-row: -6/-5;
}

div:nth-of-type(3) {
  grid-column: 3/4;
  grid-row: 3/4;
}

div:nth-of-type(4) {
  grid-column: 5/6;
  grid-row: -2/-1;
}

div:nth-of-type(5) {
  grid-column: 1/2;
  grid-row: 5/6;
}

/* ==========================================================================
    TASKBAR
========================================================================== */
.taskbar {
  position: absolute;
  bottom: 0;
  height: 43px;
  width: 100%;
  background: #c8cfd4;
  display: flex;
  z-index: 999999999;
  justify-content: space-between;
  color: rgb(28, 28, 28);
}
.taskbar .hours-date {
  width: 90px;
  background: rgb(172, 171, 171);
  box-shadow: inset 5px 1px rgb(154, 153, 153);
}
.taskbar .hours-date p {
  font-size: 1.1rem;
  color: rgb(243, 246, 249);
}

/* ==========================================================================
   BUTTON
========================================================================== */
.start-windows98 {
  padding-top: 5px;
  right: 20px;
  width: 27%;
}

.start-button {
  cursor: pointer;
  border: 0px;
  background: transparent;
  position: relative;
  transition: all 0.2s;
  overflow: hidden;
  border-radius: 2px;
  width: 20%;
  bottom: 20%;
  right: 110px;
}

.start-button:hover {
  box-shadow: 10px 10px 25px 0px rgba(87, 84, 91, 0.25), -10px 10px 25px 0prgba 103, 120, 125, 0.25 5;
  transform: translate(0, -3px);
}

.start-button::after {
  content: "";
  position: absolute;
  top: -50px;
  left: -100px;
  z-index: -1;
  transition: all 0.5s;
  box-shadow: inset -10px -10px 25px 0px rgba(129, 118, 143, 0.25), -10px 10px 25px 0prgba 103, 120, 125, 0.25 5;
}

/* ==========================================================================
   RESPONSIVE
========================================================================== */

/*# sourceMappingURL=style.css.map */
